@charset "UTF-8";


/* 共通部分*/

html{
    font-size: 100%;
    background-color: #f7f8fc;
}
body{
    font-family: "Yu Gothic Medium","游ゴシック Medium";
    line-height: 1.7;
    color: #432;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}


/*ヘッダー*/
h1{
    margin: 25px 0 3% 0;
}

.logo{
    height: fit-content;
    display: inline-block;
    font-weight: bold;
    cursor :pointer;
    margin-top: 20px;
    padding:5px;
    background-color:#F6D580;
}

.page-header{
    display: flex;
    margin-left: 5%;
    margin-bottom: 3%;
    padding: 0 4%;
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}


.accordion-box {
    margin-top: 10px ;
    padding: 0;
    font-size: 200%;
}

.accordion-box label {
    height: fit-content;
    display: inline-block;
    font-weight: bold;
    cursor :pointer;
    margin-top: 10px;
    padding:5px;
    background-color:#F6D580;
}

.accordion-box input {
    display: none; 
}

.accordion-box div {
    height: 0;
    overflow-y: hidden;
    transition: 0.5s;
    opacity: 0;
}

.accordion-box input:checked + label + div {
    margin-top: 10px;
    height: fit-content;
    opacity: 1;
    background-color:#e0fdff;
}

/*記事の文字の範囲と背景色*/

article{
    background-color: #fff;
    font-size: 16px;
    margin: 0 15%;
}

article ol{
    margin-left: 5%;
    margin-right: 5%;
}

/*ホーム画面の見出し*/
.homeoomidasi{
    font-size: 200%;
    margin-left: 2%;
    margin-top: 5%;
    border-bottom:  3px rgb(255, 187, 0) solid;
    white-space: nowrap;
    width: fit-content;
}

.homemidasi{
    font-size: 150%;
    margin-top: 2%;
    border-bottom:  3px rgb(255, 187, 0) solid;
    white-space: nowrap;
    width: fit-content;
}

/*大見出し 二重四角*/

.oomidasihanndan {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #d34e5e;
    width: fit-content;
    font-size: 200%;
    font-weight: 100;
    margin-top: 1%; 
    padding: 1%;
    white-space: nowrap;
}


.oomidasisuuteki {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4e5bd3;
    width: fit-content;
    font-size: 200%;
    font-weight: 100;
    margin-top: 1%; 
    padding: 1%;
    white-space: nowrap;
}

.oomidasikennpou {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ed381;
    width: fit-content;
    font-size: 200%;
    font-weight: 100;
    margin-top: 1%; 
    padding: 1%;
    white-space: nowrap;
}

.oomidasiminnpou {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px rgb(178, 103, 249);
    width: fit-content;
    font-size: 200%;
    font-weight: 100;
    margin-top: 1%; 
    padding: 1%;
    white-space: nowrap;
}

/*見出し 〇〇とは*/

.midasihanndan{
    font-size: 30px;
    margin-left: 3%;
    border-bottom:  3px red solid;
    width: fit-content;
    white-space: nowrap;
}

.midasisuuteki{
    font-size: 30px;
    margin-left: 3%;
    border-bottom:  3px blue solid;
    width: fit-content;
    white-space: nowrap;
}

.midasikennpou{
    font-size: 30px;
    margin-left: 3%;
    border-bottom:  3px #38df62 solid;
    width: fit-content;
    white-space: nowrap;
}

.midasiminnpou{
    font-size: 30px;
    margin-left: 3%;
    border-bottom:  3px rgb(178, 103, 249) solid;
    width: fit-content;
    white-space: nowrap;
}


/*h2 頻出テーマの下線*/

.h2hanndan{
    width: fit-content;
    border-bottom: 3px red solid;
    padding: 0px 35px 5px 5px;
    margin: 20px 0px 10px 50px;
    white-space: nowrap;
}

.h2suuteki{
    width: fit-content;
    border-bottom: 3px blue solid;
    padding: 5px 35px 5px 5px;
    margin: 20px 0px 10px 50px;
    white-space: nowrap;
}

.h2kennpou{
    width: fit-content;
    border-bottom: 3px #38df62 solid;
    padding: 5px 35px 5px 5px;
    margin: 20px 0px 10px 50px;
    white-space: nowrap;
}

.h2minnpou{
    width: fit-content;
    border-bottom: 3px rgb(178, 103, 249) solid;
    padding: 5px 35px 5px 5px;
    margin: 20px 0px 10px 50px;
    white-space: nowrap;
}


/*記事のｐタグ*/

article p{
    font-size: 16px;
    padding: 20px;
    text-align: justify;
}


/*「私の反省点」の部分*/

.hansei {
    position: relative;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
    margin: 5% 2% 50px 3%;
}
.hansei .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    
    height: 25px;
    line-height: 25px;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}


/*「解答のコツ」の部分*/

.kaitounokotu{
    position: relative;
    margin: 0px 4% 2% 5%;
    padding: 0 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    height: fit-content;
    text-align: justify;
}

.kaitounokotu .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}


/*解答のコツの部分のレイアウト*/

#hanndannpoint {
    font-size: 16px;
    margin: 5% 2% 3% 3%; 
    padding: 0;
    text-align: justify;
}


/*頻出テーマの部分のレイアウト*/

.hinshutu{
    margin: 2% 0 7% 4%;
}


/*問題文記述のためのレイアウト*/

.mondaibun{
    margin: 3% 4% 3% 5%;
}

.mondaibun li{
    margin: 0 0 0 3%;
    list-style-position: inside;
}


/*折り畳み式のメニューボックス*/

.menu-box {
    border: solid 2px #95ccff;
    margin: 0 5% 5% 5%;
  }
   
  .menu-box .menu-label-title {
    display: block;
    padding: 20px 25px;
    cursor: pointer;
    position: relative;
  }
   
  .menu-box .menu-title {
    display: block;
    padding-right: 50px;
  }
   
  .menu-box .menu-label-title span:nth-child(2),
  .menu-box .menu-label-title span:nth-child(3) {
    display: block;
    width: 16px;
    border-bottom: solid 2px #c0c0c0;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
   
  .menu-box .menu-label-title span:nth-child(2) {
    transform: rotate(45deg);
    right: 36px;
  }
   
  .menu-box .menu-label-title span:nth-child(3) {
    transform: rotate(-45deg);
  }
   
  .menu-box .menu-text {
    display: none;
    padding: 20px 0;
    margin: 0 25px;
    border-top: dotted 2px #c0c0c0;
  }
   
/* 折り畳みメニューを追加する場合 */
.menu-box #check-box,
.menu-box #check-box2, 
.menu-box #check-box3,
.menu-box #check-box4,
.menu-box #check-box5,
.menu-box #check-box6,
.menu-box #check-box7,
.menu-box #check-box8,
.menu-box #check-box9,
.menu-box #check-box10,
.menu-box #check-box11,
.menu-box #check-box12, 
.menu-box #check-box13,
.menu-box #check-box14,
.menu-box #check-box15,
.menu-box #check-box16,
.menu-box #check-box17,
.menu-box #check-box18,
.menu-box #check-box19,
.menu-box #check-box20,
.menu-box #check-box21,
.menu-box #check-box22,
.menu-box #check-box23,
.menu-box #check-box24,
.menu-box #check-box25,
.menu-box #check-box26,
.menu-box #check-box27,
.menu-box #check-box28,
.menu-box #check-box29,
.menu-box #check-box30,
.menu-box #check-box31,
.menu-box #check-box32
{
  display: none;
}
 
.menu-box #check-box:checked ~ .menu-text,
.menu-box #check-box2:checked ~ .menu-text,
.menu-box #check-box3:checked ~ .menu-text,
.menu-box #check-box4:checked ~ .menu-text,
.menu-box #check-box5:checked ~ .menu-text,
.menu-box #check-box6:checked ~ .menu-text,
.menu-box #check-box7:checked ~ .menu-text,
.menu-box #check-box8:checked ~ .menu-text,
.menu-box #check-box9:checked ~ .menu-text,
.menu-box #check-box10:checked ~ .menu-text,
.menu-box #check-box11:checked ~ .menu-text,
.menu-box #check-box12:checked ~ .menu-text,
.menu-box #check-box13:checked ~ .menu-text,
.menu-box #check-box14:checked ~ .menu-text,
.menu-box #check-box15:checked ~ .menu-text,
.menu-box #check-box16:checked ~ .menu-text,
.menu-box #check-box17:checked ~ .menu-text,
.menu-box #check-box18:checked ~ .menu-text,
.menu-box #check-box19:checked ~ .menu-text,
.menu-box #check-box20:checked ~ .menu-text,
.menu-box #check-box21:checked ~ .menu-text,
.menu-box #check-box22:checked ~ .menu-text,
.menu-box #check-box23:checked ~ .menu-text,
.menu-box #check-box24:checked ~ .menu-text,
.menu-box #check-box25:checked ~ .menu-text,
.menu-box #check-box26:checked ~ .menu-text,
.menu-box #check-box27:checked ~ .menu-text,
.menu-box #check-box28:checked ~ .menu-text,
.menu-box #check-box29:checked ~ .menu-text,
.menu-box #check-box30:checked ~ .menu-text,
.menu-box #check-box31:checked ~ .menu-text,
.menu-box #check-box32:checked ~ .menu-text{
  display: block;
}
 
.menu-box #check-box:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box2:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box3:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box4:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box5:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box6:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box7:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box8:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box9:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box10:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box11:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box12:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box13:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box14:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box15:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box16:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box17:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box18:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box19:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box20:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box21:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box22:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box23:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box24:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box25:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box26:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box27:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box28:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box29:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box30:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box31:checked ~ .menu-label-title span:nth-child(2),
.menu-box #check-box32:checked ~ .menu-label-title span:nth-child(2){
  transform: rotate(-45deg);
}
 
.menu-box #check-box:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box2:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box3:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box4:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box5:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box6:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box7:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box8:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box9:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box10:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box11:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box12:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box13:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box14:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box15:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box16:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box17:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box18:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box19:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box20:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box21:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box22:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box23:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box24:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box25:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box26:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box27:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box28:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box29:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box30:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box31:checked ~ .menu-label-title span:nth-child(3),
.menu-box #check-box32:checked ~ .menu-label-title span:nth-child(3) {
  transform: rotate(45deg);
}


/*基礎編の枠*/

.kiso{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #95ccff;
    border-bottom: solid 5px #95ccff;
    width: fit-content;
    white-space: nowrap;
}


/*応用編の枠*/

.ouyou{
    padding: 8px 19px;
    margin: 2em 0;
    color: #2c2c2f;
    background: #ffcdcd;
    border-top: solid 5px #ff9595;
    border-bottom: solid 5px #ff9595;
    width: fit-content;
    white-space: nowrap;
}


/*重要部分のアンダーライン*/

.juuyou {
    background: linear-gradient(transparent 50%, #a8eaff 50%);
    width: fit-content;
}


/*解説部分の画像を寄せるレイアウト*/

.imageright{
    margin-left: 10%;
}


/*サイドバー*/

aside{
    background-color: #fff;

    border-left:3px solid #95ccff; /*縦線*/
    padding:2px 8px; 
    height: fit-content;
    width: fit-content;
}



.box li {
margin-top: 2px;
margin-left: 30px;
}

.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

aside ol {
    counter-reset: item;
  }
  
aside li{
    display: block;
  }
  
 aside li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }


/*「ページトップへ」のボタン*/

.botan {
    position: sticky;
    bottom: 5%;
    left: 85%;
  }

  

/*フッター*/
footer{
    background: #432;
    text-align: center;
    padding: 20px 0;
}
footer p{
    color: #fff;
    font-size: 16px;
}


/*選択肢のカタカナ表記*/

ol.japanese {
    list-style-type: katakana;
 }


 /*選択肢の英語表記*/

 ol.english {
    list-style-type: upper-alpha;
 }


 /*民法・憲法の選択肢のレイアウト*/

 .senntakusi{
    margin-bottom: 2%;
 }


 /*憲法頻出テーマ3の応用編のレイアウト*/

 .kennpou4-7{
    text-indent: -3em;
    padding-left: 3em;
 }

 /*pとliの文章の末端をそろえるレイアウト*/

 p{
    text-align: justify;
    text-justify: inter-ideograph;
 }

 li{
    text-align: justify;
    text-justify: inter-ideograph;
 }




 /**/

 *, *:before, *:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.cp_menu ol,.cp_menu ul {
    height: 100%;
    overflow-y: scroll;
}
a {
	text-decoration: none;
	color: inherit;
}
.cp_cont {
	height: 65vh;
}

.cp_offcm01 {
    position: fixed;
    bottom: 20%;
    left: 85%;
	display: inline-block;
}

/* menu */
.cp_offcm01 .cp_menu {
	position: fixed;
	top: 0;
	right: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #607D8B;
	opacity: 0.8;
}

.cp_offcm01 .cp_menu ul {
	margin: 0;
	padding: 0;
}
.cp_offcm01 .cp_menu li {
	list-style: none;
}
.cp_offcm01 .cp_menu li a {
	display: block;
	padding: 20px;
	text-decoration: none;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.cp_offcm01 #cp_toggle01 {
    display: none;
	opacity: 0;
}
.cp_offcm01 #cp_toggle01:checked ~ .cp_menu {
	-webkit-transform: translateX(-100vw);
	        transform: translateX(-100vw);
}
/* menu toggle */
.cp_offcm01 #cp_toggle01 ~ label {
	display: block;
	padding: 0.5em;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
	color: #333333;
    font-size: 20px;
}
.cp_offcm01 #cp_toggle01:checked ~ label {
	-webkit-transform: translateX(-250px);
	        transform: translateX(-250px);
}
.cp_offcm01 #cp_toggle01 ~ label::before {
	font-family: 'FontAwesome';
	content: '\f0c9';
	font-size: 2em
}
.cp_offcm01 #cp_toggle01:checked ~ label::before {
	content: '\f00d';
}